    <div class="bs-docs-section">

      <div class="jumbotron">
        <h3>You can access at our incrdible list of concerts:</h3>
          <p><a class="btn btn-link"><%= link_to "Access concerts index", concerts_path %></a></p>

        <h3>Or you can create a new concert:</h3>  
          <p><a class="btn btn-link"><%= link_to "New concert?", new_concert_path %></a></p>
                  
      </div>   
    </div>