    <div class="bs-docs-section">

      <div class="jumbotron">
        <h3>You can access at our incrdible list of concerts:</h3>
          
          <p><a class="btn btn-link"><%= link_to "Access concerts index", concerts_path %></a></p>
                  
      </div>   
    </div>